@charset "UTF-8";
@import "./owl.carousel.min.css";
@import "./owl.theme.default.min.css";
@import "fonts.css";
body {
  font-family: "Avenir";
  background-color: #FFFFFF;
}
body.onboarding {
  background-image: url(../images/footer-bg.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  min-height: 100vh;
}
@media (min-width: 576px) {
  body.onboarding {
    background-image: url(../images/footer-bg-desktop.png);
  }
}

a {
  text-decoration: none;
}

p {
  margin-bottom: 0;
  color: #2C2A71;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h2 {
  font-weight: 800;
  font-size: 27px;
  color: #2C2A71;
}

h3 {
  font-weight: 800;
  font-size: 24px;
  color: #2C2A71;
}

h4 {
  font-weight: 800;
  font-size: 18px;
  color: #2C2A71;
}

.title {
  font-weight: 500;
  font-size: 14px;
  color: #F74783;
}

.description {
  font-weight: 500;
  font-size: 14px;
  color: #2C2A71;
}

.text-secondary {
  color: #3F3C34 !important;
}

.text-muted {
  color: #9E9E9E !important;
}

.text-pink {
  color: #F74783;
}

.text-primary {
  color: #2C2A71 !important;
}

.bg-light {
  background: #F7F8F9 !important;
}

.bg-pink {
  background: #F84281 !important;
}

.bg-gradient {
  background: linear-gradient(3.59deg, #1E1B3B 32.08%, #2D2E83 143.69%) !important;
}

.bg-gradient-pink {
  background: linear-gradient(180deg, #F2F2FF 0%, #F2F2FF 100%) !important;
}

.bg-gradient-transparent {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.9) 0%, rgba(242, 242, 255, 0.9) 100%) !important;
}

.btn {
  font-weight: 500;
  border-radius: 27px;
}
.btn:focus {
  box-shadow: none;
}

.btn-primary {
  font-size: 16px;
  color: #FFFFFF;
  background: linear-gradient(90deg, #4946BE 0%, #214BDF 100%);
  border: 3px solid #5459CD;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 20px rgba(0, 0, 0, 0.14);
  padding: 8px 30px;
}
.btn-primary.col-to-action {
  font-size: 20px;
  padding: 13px 60px;
}

.btn-secondary {
  font-size: 16px;
  color: #FFFFFF;
  background: linear-gradient(90deg, #898989 0%, #A9A9A9 100%);
  border: 2.42958px solid #9C9C9C;
  box-shadow: 0px 3.23944px 3.23944px rgba(0, 0, 0, 0.25), inset 0px 3.23944px 16.1972px rgba(0, 0, 0, 0.14);
  padding: 8px 30px;
}

.modal .btn {
  font-size: 16px;
}
.modal .btn-primary {
  padding: 8px 30px;
}
.modal .btn-secondary {
  padding: 8px 30px;
}

.btn-link {
  font-weight: 500;
  font-size: 16px;
  color: #F74783;
}

.btn-light {
  font-weight: 300;
  font-size: 14px;
  color: #2C2A71;
  background: #F7F8F9;
  box-shadow: 0px 4px 4px rgba(43, 42, 110, 0.5);
  border-radius: 16px;
  padding: 16px 26px;
}

.navbar-toggler .icon-close {
  display: none;
}
.navbar-toggler .icon-menu {
  display: inline;
}
.navbar-toggler[aria-expanded=true] .icon-close {
  display: inline;
}
.navbar-toggler[aria-expanded=true] .icon-menu {
  display: none;
}
.navbar-toggler:focus {
  box-shadow: none;
}

.top-mobile-menu.show, .top-mobile-menu.collapsing {
  position: absolute;
  top: 56px;
  left: 0;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 5px 0px;
  z-index: 4;
}
.top-mobile-menu .navbar-nav .nav-link {
  color: #2C2A71;
  padding: 10px 24px;
}
.top-mobile-menu .navbar-nav .nav-link:active, .top-mobile-menu .navbar-nav .nav-link.active {
  color: #FFFFFF;
  background: #2D2D75;
}

.accordion-button {
  background-color: transparent !important;
  font-size: 16px !important;
  color: #2C2A71;
  padding: 24px;
  border-radius: 16px;
}
.accordion-button span {
  font-size: 16px !important;
  padding-top: 6px;
}
.accordion-button:focus {
  box-shadow: none;
}
.accordion-button::after {
  font-family: "icomoon";
  content: "";
  color: #2C2A71;
  font-size: 10px;
  background-image: none;
}

.accordion-button:not(.collapsed) {
  color: #F74783;
  box-shadow: none;
}

.accordion-button:not(.collapsed)::after {
  background-image: none;
  margin-top: -7px;
}

.accordion-item {
  background: #F7F8F9;
  border: none;
  box-shadow: 0px 4px 4px rgba(43, 42, 110, 0.5);
  border-radius: 16px;
}
.accordion-item:first-of-type {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
.accordion-item:last-of-type {
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
}
.accordion-item.accordion-collapse.collapse.show {
  background: #F4F3FF;
  box-shadow: 0px 4px 4px rgba(43, 42, 110, 0.5);
}

.accordion-body {
  color: #2C2A71;
  font-size: 16px;
  padding: 0 24px 15px 24px;
}

.object-fit-cover {
  object-fit: cover;
}

.rounded-1 {
  border-radius: 5px !important;
}

.rounded-2 {
  border-radius: 6px !important;
}

.rounded {
  border-radius: 20px !important;
}

.shadow-lg {
  box-shadow: 0px 4px 4px rgba(43, 42, 110, 0.5) !important;
}

.shadow-sm {
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25) !important;
}

.shadow {
  box-shadow: 0px 4px 4px rgba(43, 42, 110, 0.25) !important;
}

.font-size-8px {
  font-size: 8px;
}

.font-size-10px {
  font-size: 10px !important;
}

.font-size-11px {
  font-size: 11px;
}

.font-size-12px {
  font-size: 12px;
}

.font-size-13px {
  font-size: 13px;
}

.font-size-14px {
  font-size: 14px;
}

.font-size-16px {
  font-size: 16px;
}

.font-size-24px {
  font-size: 24px;
}

.font-size-30px {
  font-size: 30px;
}

@media (min-width: 1201px) {
  .font-size-xl-30px {
    font-size: 30px;
  }
}
.font-size-36px {
  font-size: 36px;
}

.pt-22px {
  padding-top: 22px;
}

.pt-60px {
  padding-top: 60px;
}

.pt-140px {
  padding-top: 140px;
}

.pt-160px {
  padding-top: 160px;
}

.pb-35px {
  padding-bottom: 35px;
}

.pb-60px {
  padding-bottom: 60px;
}

.pb-140px {
  padding-bottom: 140px;
}

.pb-160px {
  padding-bottom: 160px;
}

.mt-100px {
  margin-top: -100px;
}

.mb-100px {
  margin-bottom: 100px;
}

.mb-32px {
  margin-bottom: 32px;
}

.min-vh-60 {
  min-height: 60vh;
}

.hero {
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
@media (max-width: 575px) {
  .hero {
    min-height: 440px;
    background-image: url("../images/main-bg.png");
  }
  .hero + section.hero-sibling {
    position: relative;
    margin-top: -180px;
    padding-top: 70px;
    min-height: calc(100vh - 408px);
  }
}
@media (max-width: 575px) and (max-width: 376px) {
  .hero {
    min-height: 340px;
  }
  .hero + section.hero-sibling {
    margin-top: -130px;
    padding-top: 50px;
    min-height: calc(100vh - 357px);
  }
}
@media (min-width: 992px) {
  .hero {
    display: none;
  }
  .hero + section.hero-sibling {
    background-image: url("../images/hero-bg.png");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 726px;
    position: relative;
    background-color: transparent;
    padding-top: 140px;
    padding-bottom: 160px;
  }
  .hero + section.hero-sibling h3 {
    font-size: 49px;
  }
}
@media (min-width: 992px) and (min-width: 1200px) {
  .hero + section.hero-sibling {
    background-size: 780px;
  }
}
@media (min-width: 992px) and (min-width: 1400px) {
  .hero + section.hero-sibling {
    background-size: 900px;
  }
}
@media (min-width: 576px) and (max-width: 991px) {
  .hero {
    display: none;
  }
  .hero + section.hero-sibling {
    background-image: url("../images/hero-bg-middle.png");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 530px;
    position: relative;
    background-color: transparent;
    padding-top: 220px;
    min-height: calc(100vh - 148px);
  }
  .hero + section.hero-sibling h3 {
    font-size: 49px;
  }
}
@media (min-width: 576px) and (max-width: 991px) and (min-width: 768px) {
  .hero + section.hero-sibling {
    background-size: 640px;
  }
}

@media (max-width: 991px) {
  .bg-wave {
    background-image: url("../images/wave.svg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
  }
}
@media (min-width: 992px) {
  .bg-wave {
    background-image: url("../images/wave-middle.svg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
  }
}
.read-more-link {
  font-size: 1.125rem;
  font-weight: 500;
  color: #FF4F86;
}
.read-more-link:hover {
  color: #FF4F86;
}
.read-more-link::before, .read-more-link::after {
  font-family: "icomoon";
  content: "";
  color: #FF4F86;
  font-size: 0.6rem;
}
.read-more-link.collapsed::after, .read-more-link.collapsed::before {
  content: "";
}
.read-more-link .show-expanded {
  display: none;
}
.read-more-link .show-collapsed {
  display: inline-block;
}
.read-more-link.collapsed .show-expanded {
  display: inline-block;
}
.read-more-link.collapsed .show-collapsed {
  display: none;
}

.read-more-list {
  list-style-type: none;
}
.read-more-list li {
  font-size: 0.75rem;
  font-weight: 500;
  color: #2C2A71;
  text-align: start;
  margin-bottom: 0.5rem;
}
.read-more-list li::before {
  font-family: "icomoon";
  content: "";
  color: #FF4F86;
  font-size: 0.25rem;
  margin: 0 0.3rem 0 -1rem;
  vertical-align: middle;
}
.read-more-list li span,
.read-more-list li a {
  color: #FF4F86;
}

.card {
  background: linear-gradient(180deg, #FFFFFF 0%, #F2F2FF 100%);
  box-shadow: 0px 4px 4px rgba(49, 45, 100, 0.2);
  border-radius: 0.25rem;
  border: none;
  padding: 1.25rem 1.25rem;
  position: relative;
}
.card .card-text {
  font-weight: 500;
  font-size: 12px;
  color: #464482;
}

.articles .card {
  background: none;
  background-color: #FFFFFF;
  box-shadow: 0px 3px 3px rgba(97, 72, 72, 0.25);
  border-radius: 0.8rem;
  border: none;
  padding: 0;
  position: relative;
}
.articles .card .card-img,
.articles .card .card-img-top {
  border-top-left-radius: 0.7rem;
  border-top-right-radius: 0.7rem;
  max-height: 5.6rem;
}
.articles .card .card-body {
  padding: 0.5rem;
}
.articles .card .card-body .card-title {
  font-weight: 500;
  font-size: 0.8rem;
  color: #2C2A71;
}
.articles .card.disabled::after {
  background: rgba(98, 96, 96, 0.4);
  font-family: "icomoon";
  content: "";
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.8);
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  border-radius: 0.7rem;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  z-index: 3;
}

.article-circle {
  width: 65px;
  height: 65px;
  background: #FFFBFB;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0 auto;
}

.pt-140px {
  padding-top: 140px;
}

.hero-heading {
  position: relative;
}
.hero-heading:after {
  content: "";
  display: block;
  height: 0.375rem;
  width: 3.125rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -20px;
  background: #F84281;
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.25);
  border-radius: 0.625rem;
}

.dropdown-menu {
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  min-width: 0;
}

.dropdown-toggle {
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 2px 6px;
}
.dropdown-toggle::after {
  vertical-align: middle;
}

.dropdown-item.active, .dropdown-item:active {
  background-color: #F84281;
}

.footer-navbar {
  background: #FFFFFF;
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.1);
  padding: 7px 0 11px 0;
}
.footer-navbar .nav-link {
  font-family: "Avenir";
  font-weight: 500;
  font-size: 10px;
  color: #2E3A59;
  padding: 0;
}
.footer-navbar .icon-circle {
  width: 53px;
  height: 53px;
  background: linear-gradient(180deg, #FA3F81 0%, #EE5B88 100%);
}
.footer-navbar .icon-block {
  width: 53px;
}
.footer-navbar .icon-block .nav-link {
  font-weight: 800;
  position: absolute;
  top: -50px;
  left: 0;
}
.footer-navbar .icon-block::after {
  content: "";
  display: block;
  height: 9px;
  width: 80px;
  position: absolute;
  bottom: -40px;
  left: 50%;
  margin-left: -40px;
  background: #F84281;
  border-radius: 10px;
}

.main {
  background-image: url("../images/languages-bg.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.main-blue {
  background-image: url("../images/decor.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.main-lesson {
  background-image: url("../images/lesson.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-circle-style {
  width: 113px;
  height: 113px;
  position: relative;
}
.main-circle-style::before {
  display: inline-block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(130, 130, 130, 0.8);
  height: 100%;
  z-index: 1;
  border: 3px solid #FFFFFF;
  outline: 3px solid #2C2A71;
  border-radius: 50%;
}
.main-circle-style::before.blue {
  background: rgba(18, 15, 110, 0.8);
}
.main-circle-style .img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(97, 97, 97, 0.6);
  height: 100%;
  z-index: 1;
  border: 3px solid #FFFFFF;
  outline: 3px solid #2C2A71;
}
.main-circle-style .img-overlay.blue {
  background: rgba(18, 15, 110, 0.8);
}
.main-circle-style .title-block {
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
}
.main-circle-style .icon-style {
  position: absolute;
  bottom: 8px;
  right: 0;
}
.main-circle-style.disabled .img-overlay {
  background: rgba(85, 85, 100, 0.9);
  outline: 3px solid #68665F;
}
.main-circle-style.disabled::after {
  font-family: "icomoon";
  content: "";
  font-size: 24px;
  color: #C2C2C7;
  position: relative;
  z-index: 3;
  top: calc(50% - 20px);
}
.main-circle-style.disabled .title-block {
  color: gray;
}
.main-circle-style[data-type=progress][data-value="0"]::before {
  background: linear-gradient(180deg, rgba(92, 92, 98, 0.8) 100%, rgba(46, 46, 120, 0.8) 100%);
}
.main-circle-style[data-type=progress][data-value="1"]::before {
  background: linear-gradient(180deg, rgba(92, 92, 98, 0.8) 99%, rgba(46, 46, 120, 0.8) 99%);
}
.main-circle-style[data-type=progress][data-value="2"]::before {
  background: linear-gradient(180deg, rgba(92, 92, 98, 0.8) 98%, rgba(46, 46, 120, 0.8) 98%);
}
.main-circle-style[data-type=progress][data-value="3"]::before {
  background: linear-gradient(180deg, rgba(92, 92, 98, 0.8) 97%, rgba(46, 46, 120, 0.8) 97%);
}
.main-circle-style[data-type=progress][data-value="4"]::before {
  background: linear-gradient(180deg, rgba(92, 92, 98, 0.8) 96%, rgba(46, 46, 120, 0.8) 96%);
}
.main-circle-style[data-type=progress][data-value="5"]::before {
  background: linear-gradient(180deg, rgba(92, 92, 98, 0.8) 95%, rgba(46, 46, 120, 0.8) 95%);
}
.main-circle-style[data-type=progress][data-value="6"]::before {
  background: linear-gradient(180deg, rgba(92, 92, 98, 0.8) 94%, rgba(46, 46, 120, 0.8) 94%);
}
.main-circle-style[data-type=progress][data-value="7"]::before {
  background: linear-gradient(180deg, rgba(92, 92, 98, 0.8) 93%, rgba(46, 46, 120, 0.8) 93%);
}
.main-circle-style[data-type=progress][data-value="8"]::before {
  background: linear-gradient(180deg, rgba(92, 92, 98, 0.8) 92%, rgba(46, 46, 120, 0.8) 92%);
}
.main-circle-style[data-type=progress][data-value="9"]::before {
  background: linear-gradient(180deg, rgba(92, 92, 98, 0.8) 91%, rgba(46, 46, 120, 0.8) 91%);
}
.main-circle-style[data-type=progress][data-value="10"]::before {
  background: linear-gradient(180deg, rgba(92, 92, 98, 0.8) 90%, rgba(46, 46, 120, 0.8) 90%);
}
.main-circle-style[data-type=progress][data-value="11"]::before {
  background: linear-gradient(180deg, rgba(92, 92, 98, 0.8) 89%, rgba(46, 46, 120, 0.8) 89%);
}
.main-circle-style[data-type=progress][data-value="12"]::before {
  background: linear-gradient(180deg, rgba(92, 92, 98, 0.8) 88%, rgba(46, 46, 120, 0.8) 88%);
}
.main-circle-style[data-type=progress][data-value="13"]::before {
  background: linear-gradient(180deg, rgba(92, 92, 98, 0.8) 87%, rgba(46, 46, 120, 0.8) 87%);
}
.main-circle-style[data-type=progress][data-value="14"]::before {
  background: linear-gradient(180deg, rgba(92, 92, 98, 0.8) 86%, rgba(46, 46, 120, 0.8) 86%);
}
.main-circle-style[data-type=progress][data-value="15"]::before {
  background: linear-gradient(180deg, rgba(92, 92, 98, 0.8) 85%, rgba(46, 46, 120, 0.8) 85%);
}
.main-circle-style[data-type=progress][data-value="16"]::before {
  background: linear-gradient(180deg, rgba(92, 92, 98, 0.8) 84%, rgba(46, 46, 120, 0.8) 84%);
}
.main-circle-style[data-type=progress][data-value="17"]::before {
  background: linear-gradient(180deg, rgba(92, 92, 98, 0.8) 83%, rgba(46, 46, 120, 0.8) 83%);
}
.main-circle-style[data-type=progress][data-value="18"]::before {
  background: linear-gradient(180deg, rgba(92, 92, 98, 0.8) 82%, rgba(46, 46, 120, 0.8) 82%);
}
.main-circle-style[data-type=progress][data-value="19"]::before {
  background: linear-gradient(180deg, rgba(92, 92, 98, 0.8) 81%, rgba(46, 46, 120, 0.8) 81%);
}
.main-circle-style[data-type=progress][data-value="20"]::before {
  background: linear-gradient(180deg, rgba(92, 92, 98, 0.8) 80%, rgba(46, 46, 120, 0.8) 80%);
}
.main-circle-style[data-type=progress][data-value="21"]::before {
  background: linear-gradient(180deg, rgba(92, 92, 98, 0.8) 79%, rgba(46, 46, 120, 0.8) 79%);
}
.main-circle-style[data-type=progress][data-value="22"]::before {
  background: linear-gradient(180deg, rgba(92, 92, 98, 0.8) 78%, rgba(46, 46, 120, 0.8) 78%);
}
.main-circle-style[data-type=progress][data-value="23"]::before {
  background: linear-gradient(180deg, rgba(92, 92, 98, 0.8) 77%, rgba(46, 46, 120, 0.8) 77%);
}
.main-circle-style[data-type=progress][data-value="24"]::before {
  background: linear-gradient(180deg, rgba(92, 92, 98, 0.8) 76%, rgba(46, 46, 120, 0.8) 76%);
}
.main-circle-style[data-type=progress][data-value="25"]::before {
  background: linear-gradient(180deg, rgba(92, 92, 98, 0.8) 75%, rgba(46, 46, 120, 0.8) 75%);
}
.main-circle-style[data-type=progress][data-value="26"]::before {
  background: linear-gradient(180deg, rgba(92, 92, 98, 0.8) 74%, rgba(46, 46, 120, 0.8) 74%);
}
.main-circle-style[data-type=progress][data-value="27"]::before {
  background: linear-gradient(180deg, rgba(92, 92, 98, 0.8) 73%, rgba(46, 46, 120, 0.8) 73%);
}
.main-circle-style[data-type=progress][data-value="28"]::before {
  background: linear-gradient(180deg, rgba(92, 92, 98, 0.8) 72%, rgba(46, 46, 120, 0.8) 72%);
}
.main-circle-style[data-type=progress][data-value="29"]::before {
  background: linear-gradient(180deg, rgba(92, 92, 98, 0.8) 71%, rgba(46, 46, 120, 0.8) 71%);
}
.main-circle-style[data-type=progress][data-value="30"]::before {
  background: linear-gradient(180deg, rgba(92, 92, 98, 0.8) 70%, rgba(46, 46, 120, 0.8) 70%);
}
.main-circle-style[data-type=progress][data-value="31"]::before {
  background: linear-gradient(180deg, rgba(92, 92, 98, 0.8) 69%, rgba(46, 46, 120, 0.8) 69%);
}
.main-circle-style[data-type=progress][data-value="32"]::before {
  background: linear-gradient(180deg, rgba(92, 92, 98, 0.8) 68%, rgba(46, 46, 120, 0.8) 68%);
}
.main-circle-style[data-type=progress][data-value="33"]::before {
  background: linear-gradient(180deg, rgba(92, 92, 98, 0.8) 67%, rgba(46, 46, 120, 0.8) 67%);
}
.main-circle-style[data-type=progress][data-value="34"]::before {
  background: linear-gradient(180deg, rgba(92, 92, 98, 0.8) 66%, rgba(46, 46, 120, 0.8) 66%);
}
.main-circle-style[data-type=progress][data-value="35"]::before {
  background: linear-gradient(180deg, rgba(92, 92, 98, 0.8) 65%, rgba(46, 46, 120, 0.8) 65%);
}
.main-circle-style[data-type=progress][data-value="36"]::before {
  background: linear-gradient(180deg, rgba(92, 92, 98, 0.8) 64%, rgba(46, 46, 120, 0.8) 64%);
}
.main-circle-style[data-type=progress][data-value="37"]::before {
  background: linear-gradient(180deg, rgba(92, 92, 98, 0.8) 63%, rgba(46, 46, 120, 0.8) 63%);
}
.main-circle-style[data-type=progress][data-value="38"]::before {
  background: linear-gradient(180deg, rgba(92, 92, 98, 0.8) 62%, rgba(46, 46, 120, 0.8) 62%);
}
.main-circle-style[data-type=progress][data-value="39"]::before {
  background: linear-gradient(180deg, rgba(92, 92, 98, 0.8) 61%, rgba(46, 46, 120, 0.8) 61%);
}
.main-circle-style[data-type=progress][data-value="40"]::before {
  background: linear-gradient(180deg, rgba(92, 92, 98, 0.8) 60%, rgba(46, 46, 120, 0.8) 60%);
}
.main-circle-style[data-type=progress][data-value="41"]::before {
  background: linear-gradient(180deg, rgba(92, 92, 98, 0.8) 59%, rgba(46, 46, 120, 0.8) 59%);
}
.main-circle-style[data-type=progress][data-value="42"]::before {
  background: linear-gradient(180deg, rgba(92, 92, 98, 0.8) 58%, rgba(46, 46, 120, 0.8) 58%);
}
.main-circle-style[data-type=progress][data-value="43"]::before {
  background: linear-gradient(180deg, rgba(92, 92, 98, 0.8) 57%, rgba(46, 46, 120, 0.8) 57%);
}
.main-circle-style[data-type=progress][data-value="44"]::before {
  background: linear-gradient(180deg, rgba(92, 92, 98, 0.8) 56%, rgba(46, 46, 120, 0.8) 56%);
}
.main-circle-style[data-type=progress][data-value="45"]::before {
  background: linear-gradient(180deg, rgba(92, 92, 98, 0.8) 55%, rgba(46, 46, 120, 0.8) 55%);
}
.main-circle-style[data-type=progress][data-value="46"]::before {
  background: linear-gradient(180deg, rgba(92, 92, 98, 0.8) 54%, rgba(46, 46, 120, 0.8) 54%);
}
.main-circle-style[data-type=progress][data-value="47"]::before {
  background: linear-gradient(180deg, rgba(92, 92, 98, 0.8) 53%, rgba(46, 46, 120, 0.8) 53%);
}
.main-circle-style[data-type=progress][data-value="48"]::before {
  background: linear-gradient(180deg, rgba(92, 92, 98, 0.8) 52%, rgba(46, 46, 120, 0.8) 52%);
}
.main-circle-style[data-type=progress][data-value="49"]::before {
  background: linear-gradient(180deg, rgba(92, 92, 98, 0.8) 51%, rgba(46, 46, 120, 0.8) 51%);
}
.main-circle-style[data-type=progress][data-value="50"]::before {
  background: linear-gradient(180deg, rgba(92, 92, 98, 0.8) 50%, rgba(46, 46, 120, 0.8) 50%);
}
.main-circle-style[data-type=progress][data-value="51"]::before {
  background: linear-gradient(180deg, rgba(92, 92, 98, 0.8) 49%, rgba(46, 46, 120, 0.8) 49%);
}
.main-circle-style[data-type=progress][data-value="52"]::before {
  background: linear-gradient(180deg, rgba(92, 92, 98, 0.8) 48%, rgba(46, 46, 120, 0.8) 48%);
}
.main-circle-style[data-type=progress][data-value="53"]::before {
  background: linear-gradient(180deg, rgba(92, 92, 98, 0.8) 47%, rgba(46, 46, 120, 0.8) 47%);
}
.main-circle-style[data-type=progress][data-value="54"]::before {
  background: linear-gradient(180deg, rgba(92, 92, 98, 0.8) 46%, rgba(46, 46, 120, 0.8) 46%);
}
.main-circle-style[data-type=progress][data-value="55"]::before {
  background: linear-gradient(180deg, rgba(92, 92, 98, 0.8) 45%, rgba(46, 46, 120, 0.8) 45%);
}
.main-circle-style[data-type=progress][data-value="56"]::before {
  background: linear-gradient(180deg, rgba(92, 92, 98, 0.8) 44%, rgba(46, 46, 120, 0.8) 44%);
}
.main-circle-style[data-type=progress][data-value="57"]::before {
  background: linear-gradient(180deg, rgba(92, 92, 98, 0.8) 43%, rgba(46, 46, 120, 0.8) 43%);
}
.main-circle-style[data-type=progress][data-value="58"]::before {
  background: linear-gradient(180deg, rgba(92, 92, 98, 0.8) 42%, rgba(46, 46, 120, 0.8) 42%);
}
.main-circle-style[data-type=progress][data-value="59"]::before {
  background: linear-gradient(180deg, rgba(92, 92, 98, 0.8) 41%, rgba(46, 46, 120, 0.8) 41%);
}
.main-circle-style[data-type=progress][data-value="60"]::before {
  background: linear-gradient(180deg, rgba(92, 92, 98, 0.8) 40%, rgba(46, 46, 120, 0.8) 40%);
}
.main-circle-style[data-type=progress][data-value="61"]::before {
  background: linear-gradient(180deg, rgba(92, 92, 98, 0.8) 39%, rgba(46, 46, 120, 0.8) 39%);
}
.main-circle-style[data-type=progress][data-value="62"]::before {
  background: linear-gradient(180deg, rgba(92, 92, 98, 0.8) 38%, rgba(46, 46, 120, 0.8) 38%);
}
.main-circle-style[data-type=progress][data-value="63"]::before {
  background: linear-gradient(180deg, rgba(92, 92, 98, 0.8) 37%, rgba(46, 46, 120, 0.8) 37%);
}
.main-circle-style[data-type=progress][data-value="64"]::before {
  background: linear-gradient(180deg, rgba(92, 92, 98, 0.8) 36%, rgba(46, 46, 120, 0.8) 36%);
}
.main-circle-style[data-type=progress][data-value="65"]::before {
  background: linear-gradient(180deg, rgba(92, 92, 98, 0.8) 35%, rgba(46, 46, 120, 0.8) 35%);
}
.main-circle-style[data-type=progress][data-value="66"]::before {
  background: linear-gradient(180deg, rgba(92, 92, 98, 0.8) 34%, rgba(46, 46, 120, 0.8) 34%);
}
.main-circle-style[data-type=progress][data-value="67"]::before {
  background: linear-gradient(180deg, rgba(92, 92, 98, 0.8) 33%, rgba(46, 46, 120, 0.8) 33%);
}
.main-circle-style[data-type=progress][data-value="68"]::before {
  background: linear-gradient(180deg, rgba(92, 92, 98, 0.8) 32%, rgba(46, 46, 120, 0.8) 32%);
}
.main-circle-style[data-type=progress][data-value="69"]::before {
  background: linear-gradient(180deg, rgba(92, 92, 98, 0.8) 31%, rgba(46, 46, 120, 0.8) 31%);
}
.main-circle-style[data-type=progress][data-value="70"]::before {
  background: linear-gradient(180deg, rgba(92, 92, 98, 0.8) 30%, rgba(46, 46, 120, 0.8) 30%);
}
.main-circle-style[data-type=progress][data-value="71"]::before {
  background: linear-gradient(180deg, rgba(92, 92, 98, 0.8) 29%, rgba(46, 46, 120, 0.8) 29%);
}
.main-circle-style[data-type=progress][data-value="72"]::before {
  background: linear-gradient(180deg, rgba(92, 92, 98, 0.8) 28%, rgba(46, 46, 120, 0.8) 28%);
}
.main-circle-style[data-type=progress][data-value="73"]::before {
  background: linear-gradient(180deg, rgba(92, 92, 98, 0.8) 27%, rgba(46, 46, 120, 0.8) 27%);
}
.main-circle-style[data-type=progress][data-value="74"]::before {
  background: linear-gradient(180deg, rgba(92, 92, 98, 0.8) 26%, rgba(46, 46, 120, 0.8) 26%);
}
.main-circle-style[data-type=progress][data-value="75"]::before {
  background: linear-gradient(180deg, rgba(92, 92, 98, 0.8) 25%, rgba(46, 46, 120, 0.8) 25%);
}
.main-circle-style[data-type=progress][data-value="76"]::before {
  background: linear-gradient(180deg, rgba(92, 92, 98, 0.8) 24%, rgba(46, 46, 120, 0.8) 24%);
}
.main-circle-style[data-type=progress][data-value="77"]::before {
  background: linear-gradient(180deg, rgba(92, 92, 98, 0.8) 23%, rgba(46, 46, 120, 0.8) 23%);
}
.main-circle-style[data-type=progress][data-value="78"]::before {
  background: linear-gradient(180deg, rgba(92, 92, 98, 0.8) 22%, rgba(46, 46, 120, 0.8) 22%);
}
.main-circle-style[data-type=progress][data-value="79"]::before {
  background: linear-gradient(180deg, rgba(92, 92, 98, 0.8) 21%, rgba(46, 46, 120, 0.8) 21%);
}
.main-circle-style[data-type=progress][data-value="80"]::before {
  background: linear-gradient(180deg, rgba(92, 92, 98, 0.8) 20%, rgba(46, 46, 120, 0.8) 20%);
}
.main-circle-style[data-type=progress][data-value="81"]::before {
  background: linear-gradient(180deg, rgba(92, 92, 98, 0.8) 19%, rgba(46, 46, 120, 0.8) 19%);
}
.main-circle-style[data-type=progress][data-value="82"]::before {
  background: linear-gradient(180deg, rgba(92, 92, 98, 0.8) 18%, rgba(46, 46, 120, 0.8) 18%);
}
.main-circle-style[data-type=progress][data-value="83"]::before {
  background: linear-gradient(180deg, rgba(92, 92, 98, 0.8) 17%, rgba(46, 46, 120, 0.8) 17%);
}
.main-circle-style[data-type=progress][data-value="84"]::before {
  background: linear-gradient(180deg, rgba(92, 92, 98, 0.8) 16%, rgba(46, 46, 120, 0.8) 16%);
}
.main-circle-style[data-type=progress][data-value="85"]::before {
  background: linear-gradient(180deg, rgba(92, 92, 98, 0.8) 15%, rgba(46, 46, 120, 0.8) 15%);
}
.main-circle-style[data-type=progress][data-value="86"]::before {
  background: linear-gradient(180deg, rgba(92, 92, 98, 0.8) 14%, rgba(46, 46, 120, 0.8) 14%);
}
.main-circle-style[data-type=progress][data-value="87"]::before {
  background: linear-gradient(180deg, rgba(92, 92, 98, 0.8) 13%, rgba(46, 46, 120, 0.8) 13%);
}
.main-circle-style[data-type=progress][data-value="88"]::before {
  background: linear-gradient(180deg, rgba(92, 92, 98, 0.8) 12%, rgba(46, 46, 120, 0.8) 12%);
}
.main-circle-style[data-type=progress][data-value="89"]::before {
  background: linear-gradient(180deg, rgba(92, 92, 98, 0.8) 11%, rgba(46, 46, 120, 0.8) 11%);
}
.main-circle-style[data-type=progress][data-value="90"]::before {
  background: linear-gradient(180deg, rgba(92, 92, 98, 0.8) 10%, rgba(46, 46, 120, 0.8) 10%);
}
.main-circle-style[data-type=progress][data-value="91"]::before {
  background: linear-gradient(180deg, rgba(92, 92, 98, 0.8) 9%, rgba(46, 46, 120, 0.8) 9%);
}
.main-circle-style[data-type=progress][data-value="92"]::before {
  background: linear-gradient(180deg, rgba(92, 92, 98, 0.8) 8%, rgba(46, 46, 120, 0.8) 8%);
}
.main-circle-style[data-type=progress][data-value="93"]::before {
  background: linear-gradient(180deg, rgba(92, 92, 98, 0.8) 7%, rgba(46, 46, 120, 0.8) 7%);
}
.main-circle-style[data-type=progress][data-value="94"]::before {
  background: linear-gradient(180deg, rgba(92, 92, 98, 0.8) 6%, rgba(46, 46, 120, 0.8) 6%);
}
.main-circle-style[data-type=progress][data-value="95"]::before {
  background: linear-gradient(180deg, rgba(92, 92, 98, 0.8) 5%, rgba(46, 46, 120, 0.8) 5%);
}
.main-circle-style[data-type=progress][data-value="96"]::before {
  background: linear-gradient(180deg, rgba(92, 92, 98, 0.8) 4%, rgba(46, 46, 120, 0.8) 4%);
}
.main-circle-style[data-type=progress][data-value="97"]::before {
  background: linear-gradient(180deg, rgba(92, 92, 98, 0.8) 3%, rgba(46, 46, 120, 0.8) 3%);
}
.main-circle-style[data-type=progress][data-value="98"]::before {
  background: linear-gradient(180deg, rgba(92, 92, 98, 0.8) 2%, rgba(46, 46, 120, 0.8) 2%);
}
.main-circle-style[data-type=progress][data-value="99"]::before {
  background: linear-gradient(180deg, rgba(92, 92, 98, 0.8) 1%, rgba(46, 46, 120, 0.8) 1%);
}
.main-circle-style[data-type=progress][data-value="100"]::before {
  background: linear-gradient(180deg, rgba(92, 92, 98, 0.8) 0%, rgba(46, 46, 120, 0.8) 0%);
}

.badge-circle-style {
  position: relative;
}
.badge-circle-style.big {
  width: 5.688rem;
  height: 5.688rem;
}
.badge-circle-style.small {
  width: 3.5rem;
  height: 3.5rem;
}
.badge-circle-style::before {
  display: inline-block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(130, 130, 130, 0.8);
  height: 100%;
  z-index: 1;
  border: 9px solid rgba(130, 130, 130, 0.8);
  border-radius: 50%;
}
.badge-circle-style::before.blue {
  background: rgba(18, 15, 110, 0.8);
}
.badge-circle-style .title-block {
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
}
.badge-circle-style .title-block.big img {
  width: 46px;
}
.badge-circle-style .title-block.small img {
  width: 20px;
}
.badge-circle-style[data-type=progress][data-value="0"]::before {
  background: linear-gradient(90deg, rgba(92, 92, 98, 0.8) 100%, rgba(37, 104, 183, 0.8) 100%);
}
.badge-circle-style[data-type=progress][data-value="1"]::before {
  background: linear-gradient(90deg, rgba(92, 92, 98, 0.8) 99%, rgba(37, 104, 183, 0.8) 99%);
}
.badge-circle-style[data-type=progress][data-value="2"]::before {
  background: linear-gradient(90deg, rgba(92, 92, 98, 0.8) 98%, rgba(37, 104, 183, 0.8) 98%);
}
.badge-circle-style[data-type=progress][data-value="3"]::before {
  background: linear-gradient(90deg, rgba(92, 92, 98, 0.8) 97%, rgba(37, 104, 183, 0.8) 97%);
}
.badge-circle-style[data-type=progress][data-value="4"]::before {
  background: linear-gradient(90deg, rgba(92, 92, 98, 0.8) 96%, rgba(37, 104, 183, 0.8) 96%);
}
.badge-circle-style[data-type=progress][data-value="5"]::before {
  background: linear-gradient(90deg, rgba(92, 92, 98, 0.8) 95%, rgba(37, 104, 183, 0.8) 95%);
}
.badge-circle-style[data-type=progress][data-value="6"]::before {
  background: linear-gradient(90deg, rgba(92, 92, 98, 0.8) 94%, rgba(37, 104, 183, 0.8) 94%);
}
.badge-circle-style[data-type=progress][data-value="7"]::before {
  background: linear-gradient(90deg, rgba(92, 92, 98, 0.8) 93%, rgba(37, 104, 183, 0.8) 93%);
}
.badge-circle-style[data-type=progress][data-value="8"]::before {
  background: linear-gradient(90deg, rgba(92, 92, 98, 0.8) 92%, rgba(37, 104, 183, 0.8) 92%);
}
.badge-circle-style[data-type=progress][data-value="9"]::before {
  background: linear-gradient(90deg, rgba(92, 92, 98, 0.8) 91%, rgba(37, 104, 183, 0.8) 91%);
}
.badge-circle-style[data-type=progress][data-value="10"]::before {
  background: linear-gradient(90deg, rgba(92, 92, 98, 0.8) 90%, rgba(37, 104, 183, 0.8) 90%);
}
.badge-circle-style[data-type=progress][data-value="11"]::before {
  background: linear-gradient(90deg, rgba(92, 92, 98, 0.8) 89%, rgba(37, 104, 183, 0.8) 89%);
}
.badge-circle-style[data-type=progress][data-value="12"]::before {
  background: linear-gradient(90deg, rgba(92, 92, 98, 0.8) 88%, rgba(37, 104, 183, 0.8) 88%);
}
.badge-circle-style[data-type=progress][data-value="13"]::before {
  background: linear-gradient(90deg, rgba(92, 92, 98, 0.8) 87%, rgba(37, 104, 183, 0.8) 87%);
}
.badge-circle-style[data-type=progress][data-value="14"]::before {
  background: linear-gradient(90deg, rgba(92, 92, 98, 0.8) 86%, rgba(37, 104, 183, 0.8) 86%);
}
.badge-circle-style[data-type=progress][data-value="15"]::before {
  background: linear-gradient(90deg, rgba(92, 92, 98, 0.8) 85%, rgba(37, 104, 183, 0.8) 85%);
}
.badge-circle-style[data-type=progress][data-value="16"]::before {
  background: linear-gradient(90deg, rgba(92, 92, 98, 0.8) 84%, rgba(37, 104, 183, 0.8) 84%);
}
.badge-circle-style[data-type=progress][data-value="17"]::before {
  background: linear-gradient(90deg, rgba(92, 92, 98, 0.8) 83%, rgba(37, 104, 183, 0.8) 83%);
}
.badge-circle-style[data-type=progress][data-value="18"]::before {
  background: linear-gradient(90deg, rgba(92, 92, 98, 0.8) 82%, rgba(37, 104, 183, 0.8) 82%);
}
.badge-circle-style[data-type=progress][data-value="19"]::before {
  background: linear-gradient(90deg, rgba(92, 92, 98, 0.8) 81%, rgba(37, 104, 183, 0.8) 81%);
}
.badge-circle-style[data-type=progress][data-value="20"]::before {
  background: linear-gradient(90deg, rgba(92, 92, 98, 0.8) 80%, rgba(37, 104, 183, 0.8) 80%);
}
.badge-circle-style[data-type=progress][data-value="21"]::before {
  background: linear-gradient(90deg, rgba(92, 92, 98, 0.8) 79%, rgba(37, 104, 183, 0.8) 79%);
}
.badge-circle-style[data-type=progress][data-value="22"]::before {
  background: linear-gradient(90deg, rgba(92, 92, 98, 0.8) 78%, rgba(37, 104, 183, 0.8) 78%);
}
.badge-circle-style[data-type=progress][data-value="23"]::before {
  background: linear-gradient(90deg, rgba(92, 92, 98, 0.8) 77%, rgba(37, 104, 183, 0.8) 77%);
}
.badge-circle-style[data-type=progress][data-value="24"]::before {
  background: linear-gradient(90deg, rgba(92, 92, 98, 0.8) 76%, rgba(37, 104, 183, 0.8) 76%);
}
.badge-circle-style[data-type=progress][data-value="25"]::before {
  background: linear-gradient(90deg, rgba(92, 92, 98, 0.8) 75%, rgba(37, 104, 183, 0.8) 75%);
}
.badge-circle-style[data-type=progress][data-value="26"]::before {
  background: linear-gradient(90deg, rgba(92, 92, 98, 0.8) 74%, rgba(37, 104, 183, 0.8) 74%);
}
.badge-circle-style[data-type=progress][data-value="27"]::before {
  background: linear-gradient(90deg, rgba(92, 92, 98, 0.8) 73%, rgba(37, 104, 183, 0.8) 73%);
}
.badge-circle-style[data-type=progress][data-value="28"]::before {
  background: linear-gradient(90deg, rgba(92, 92, 98, 0.8) 72%, rgba(37, 104, 183, 0.8) 72%);
}
.badge-circle-style[data-type=progress][data-value="29"]::before {
  background: linear-gradient(90deg, rgba(92, 92, 98, 0.8) 71%, rgba(37, 104, 183, 0.8) 71%);
}
.badge-circle-style[data-type=progress][data-value="30"]::before {
  background: linear-gradient(90deg, rgba(92, 92, 98, 0.8) 70%, rgba(37, 104, 183, 0.8) 70%);
}
.badge-circle-style[data-type=progress][data-value="31"]::before {
  background: linear-gradient(90deg, rgba(92, 92, 98, 0.8) 69%, rgba(37, 104, 183, 0.8) 69%);
}
.badge-circle-style[data-type=progress][data-value="32"]::before {
  background: linear-gradient(90deg, rgba(92, 92, 98, 0.8) 68%, rgba(37, 104, 183, 0.8) 68%);
}
.badge-circle-style[data-type=progress][data-value="33"]::before {
  background: linear-gradient(90deg, rgba(92, 92, 98, 0.8) 67%, rgba(37, 104, 183, 0.8) 67%);
}
.badge-circle-style[data-type=progress][data-value="34"]::before {
  background: linear-gradient(90deg, rgba(92, 92, 98, 0.8) 66%, rgba(37, 104, 183, 0.8) 66%);
}
.badge-circle-style[data-type=progress][data-value="35"]::before {
  background: linear-gradient(90deg, rgba(92, 92, 98, 0.8) 65%, rgba(37, 104, 183, 0.8) 65%);
}
.badge-circle-style[data-type=progress][data-value="36"]::before {
  background: linear-gradient(90deg, rgba(92, 92, 98, 0.8) 64%, rgba(37, 104, 183, 0.8) 64%);
}
.badge-circle-style[data-type=progress][data-value="37"]::before {
  background: linear-gradient(90deg, rgba(92, 92, 98, 0.8) 63%, rgba(37, 104, 183, 0.8) 63%);
}
.badge-circle-style[data-type=progress][data-value="38"]::before {
  background: linear-gradient(90deg, rgba(92, 92, 98, 0.8) 62%, rgba(37, 104, 183, 0.8) 62%);
}
.badge-circle-style[data-type=progress][data-value="39"]::before {
  background: linear-gradient(90deg, rgba(92, 92, 98, 0.8) 61%, rgba(37, 104, 183, 0.8) 61%);
}
.badge-circle-style[data-type=progress][data-value="40"]::before {
  background: linear-gradient(90deg, rgba(92, 92, 98, 0.8) 60%, rgba(37, 104, 183, 0.8) 60%);
}
.badge-circle-style[data-type=progress][data-value="41"]::before {
  background: linear-gradient(90deg, rgba(92, 92, 98, 0.8) 59%, rgba(37, 104, 183, 0.8) 59%);
}
.badge-circle-style[data-type=progress][data-value="42"]::before {
  background: linear-gradient(90deg, rgba(92, 92, 98, 0.8) 58%, rgba(37, 104, 183, 0.8) 58%);
}
.badge-circle-style[data-type=progress][data-value="43"]::before {
  background: linear-gradient(90deg, rgba(92, 92, 98, 0.8) 57%, rgba(37, 104, 183, 0.8) 57%);
}
.badge-circle-style[data-type=progress][data-value="44"]::before {
  background: linear-gradient(90deg, rgba(92, 92, 98, 0.8) 56%, rgba(37, 104, 183, 0.8) 56%);
}
.badge-circle-style[data-type=progress][data-value="45"]::before {
  background: linear-gradient(90deg, rgba(92, 92, 98, 0.8) 55%, rgba(37, 104, 183, 0.8) 55%);
}
.badge-circle-style[data-type=progress][data-value="46"]::before {
  background: linear-gradient(90deg, rgba(92, 92, 98, 0.8) 54%, rgba(37, 104, 183, 0.8) 54%);
}
.badge-circle-style[data-type=progress][data-value="47"]::before {
  background: linear-gradient(90deg, rgba(92, 92, 98, 0.8) 53%, rgba(37, 104, 183, 0.8) 53%);
}
.badge-circle-style[data-type=progress][data-value="48"]::before {
  background: linear-gradient(90deg, rgba(92, 92, 98, 0.8) 52%, rgba(37, 104, 183, 0.8) 52%);
}
.badge-circle-style[data-type=progress][data-value="49"]::before {
  background: linear-gradient(90deg, rgba(92, 92, 98, 0.8) 51%, rgba(37, 104, 183, 0.8) 51%);
}
.badge-circle-style[data-type=progress][data-value="50"]::before {
  background: linear-gradient(90deg, rgba(92, 92, 98, 0.8) 50%, rgba(37, 104, 183, 0.8) 50%);
}
.badge-circle-style[data-type=progress][data-value="51"]::before {
  background: linear-gradient(90deg, rgba(92, 92, 98, 0.8) 49%, rgba(37, 104, 183, 0.8) 49%);
}
.badge-circle-style[data-type=progress][data-value="52"]::before {
  background: linear-gradient(90deg, rgba(92, 92, 98, 0.8) 48%, rgba(37, 104, 183, 0.8) 48%);
}
.badge-circle-style[data-type=progress][data-value="53"]::before {
  background: linear-gradient(90deg, rgba(92, 92, 98, 0.8) 47%, rgba(37, 104, 183, 0.8) 47%);
}
.badge-circle-style[data-type=progress][data-value="54"]::before {
  background: linear-gradient(90deg, rgba(92, 92, 98, 0.8) 46%, rgba(37, 104, 183, 0.8) 46%);
}
.badge-circle-style[data-type=progress][data-value="55"]::before {
  background: linear-gradient(90deg, rgba(92, 92, 98, 0.8) 45%, rgba(37, 104, 183, 0.8) 45%);
}
.badge-circle-style[data-type=progress][data-value="56"]::before {
  background: linear-gradient(90deg, rgba(92, 92, 98, 0.8) 44%, rgba(37, 104, 183, 0.8) 44%);
}
.badge-circle-style[data-type=progress][data-value="57"]::before {
  background: linear-gradient(90deg, rgba(92, 92, 98, 0.8) 43%, rgba(37, 104, 183, 0.8) 43%);
}
.badge-circle-style[data-type=progress][data-value="58"]::before {
  background: linear-gradient(90deg, rgba(92, 92, 98, 0.8) 42%, rgba(37, 104, 183, 0.8) 42%);
}
.badge-circle-style[data-type=progress][data-value="59"]::before {
  background: linear-gradient(90deg, rgba(92, 92, 98, 0.8) 41%, rgba(37, 104, 183, 0.8) 41%);
}
.badge-circle-style[data-type=progress][data-value="60"]::before {
  background: linear-gradient(90deg, rgba(92, 92, 98, 0.8) 40%, rgba(37, 104, 183, 0.8) 40%);
}
.badge-circle-style[data-type=progress][data-value="61"]::before {
  background: linear-gradient(90deg, rgba(92, 92, 98, 0.8) 39%, rgba(37, 104, 183, 0.8) 39%);
}
.badge-circle-style[data-type=progress][data-value="62"]::before {
  background: linear-gradient(90deg, rgba(92, 92, 98, 0.8) 38%, rgba(37, 104, 183, 0.8) 38%);
}
.badge-circle-style[data-type=progress][data-value="63"]::before {
  background: linear-gradient(90deg, rgba(92, 92, 98, 0.8) 37%, rgba(37, 104, 183, 0.8) 37%);
}
.badge-circle-style[data-type=progress][data-value="64"]::before {
  background: linear-gradient(90deg, rgba(92, 92, 98, 0.8) 36%, rgba(37, 104, 183, 0.8) 36%);
}
.badge-circle-style[data-type=progress][data-value="65"]::before {
  background: linear-gradient(90deg, rgba(92, 92, 98, 0.8) 35%, rgba(37, 104, 183, 0.8) 35%);
}
.badge-circle-style[data-type=progress][data-value="66"]::before {
  background: linear-gradient(90deg, rgba(92, 92, 98, 0.8) 34%, rgba(37, 104, 183, 0.8) 34%);
}
.badge-circle-style[data-type=progress][data-value="67"]::before {
  background: linear-gradient(90deg, rgba(92, 92, 98, 0.8) 33%, rgba(37, 104, 183, 0.8) 33%);
}
.badge-circle-style[data-type=progress][data-value="68"]::before {
  background: linear-gradient(90deg, rgba(92, 92, 98, 0.8) 32%, rgba(37, 104, 183, 0.8) 32%);
}
.badge-circle-style[data-type=progress][data-value="69"]::before {
  background: linear-gradient(90deg, rgba(92, 92, 98, 0.8) 31%, rgba(37, 104, 183, 0.8) 31%);
}
.badge-circle-style[data-type=progress][data-value="70"]::before {
  background: linear-gradient(90deg, rgba(92, 92, 98, 0.8) 30%, rgba(37, 104, 183, 0.8) 30%);
}
.badge-circle-style[data-type=progress][data-value="71"]::before {
  background: linear-gradient(90deg, rgba(92, 92, 98, 0.8) 29%, rgba(37, 104, 183, 0.8) 29%);
}
.badge-circle-style[data-type=progress][data-value="72"]::before {
  background: linear-gradient(90deg, rgba(92, 92, 98, 0.8) 28%, rgba(37, 104, 183, 0.8) 28%);
}
.badge-circle-style[data-type=progress][data-value="73"]::before {
  background: linear-gradient(90deg, rgba(92, 92, 98, 0.8) 27%, rgba(37, 104, 183, 0.8) 27%);
}
.badge-circle-style[data-type=progress][data-value="74"]::before {
  background: linear-gradient(90deg, rgba(92, 92, 98, 0.8) 26%, rgba(37, 104, 183, 0.8) 26%);
}
.badge-circle-style[data-type=progress][data-value="75"]::before {
  background: linear-gradient(90deg, rgba(92, 92, 98, 0.8) 25%, rgba(37, 104, 183, 0.8) 25%);
}
.badge-circle-style[data-type=progress][data-value="76"]::before {
  background: linear-gradient(90deg, rgba(92, 92, 98, 0.8) 24%, rgba(37, 104, 183, 0.8) 24%);
}
.badge-circle-style[data-type=progress][data-value="77"]::before {
  background: linear-gradient(90deg, rgba(92, 92, 98, 0.8) 23%, rgba(37, 104, 183, 0.8) 23%);
}
.badge-circle-style[data-type=progress][data-value="78"]::before {
  background: linear-gradient(90deg, rgba(92, 92, 98, 0.8) 22%, rgba(37, 104, 183, 0.8) 22%);
}
.badge-circle-style[data-type=progress][data-value="79"]::before {
  background: linear-gradient(90deg, rgba(92, 92, 98, 0.8) 21%, rgba(37, 104, 183, 0.8) 21%);
}
.badge-circle-style[data-type=progress][data-value="80"]::before {
  background: linear-gradient(90deg, rgba(92, 92, 98, 0.8) 20%, rgba(37, 104, 183, 0.8) 20%);
}
.badge-circle-style[data-type=progress][data-value="81"]::before {
  background: linear-gradient(90deg, rgba(92, 92, 98, 0.8) 19%, rgba(37, 104, 183, 0.8) 19%);
}
.badge-circle-style[data-type=progress][data-value="82"]::before {
  background: linear-gradient(90deg, rgba(92, 92, 98, 0.8) 18%, rgba(37, 104, 183, 0.8) 18%);
}
.badge-circle-style[data-type=progress][data-value="83"]::before {
  background: linear-gradient(90deg, rgba(92, 92, 98, 0.8) 17%, rgba(37, 104, 183, 0.8) 17%);
}
.badge-circle-style[data-type=progress][data-value="84"]::before {
  background: linear-gradient(90deg, rgba(92, 92, 98, 0.8) 16%, rgba(37, 104, 183, 0.8) 16%);
}
.badge-circle-style[data-type=progress][data-value="85"]::before {
  background: linear-gradient(90deg, rgba(92, 92, 98, 0.8) 15%, rgba(37, 104, 183, 0.8) 15%);
}
.badge-circle-style[data-type=progress][data-value="86"]::before {
  background: linear-gradient(90deg, rgba(92, 92, 98, 0.8) 14%, rgba(37, 104, 183, 0.8) 14%);
}
.badge-circle-style[data-type=progress][data-value="87"]::before {
  background: linear-gradient(90deg, rgba(92, 92, 98, 0.8) 13%, rgba(37, 104, 183, 0.8) 13%);
}
.badge-circle-style[data-type=progress][data-value="88"]::before {
  background: linear-gradient(90deg, rgba(92, 92, 98, 0.8) 12%, rgba(37, 104, 183, 0.8) 12%);
}
.badge-circle-style[data-type=progress][data-value="89"]::before {
  background: linear-gradient(90deg, rgba(92, 92, 98, 0.8) 11%, rgba(37, 104, 183, 0.8) 11%);
}
.badge-circle-style[data-type=progress][data-value="90"]::before {
  background: linear-gradient(90deg, rgba(92, 92, 98, 0.8) 10%, rgba(37, 104, 183, 0.8) 10%);
}
.badge-circle-style[data-type=progress][data-value="91"]::before {
  background: linear-gradient(90deg, rgba(92, 92, 98, 0.8) 9%, rgba(37, 104, 183, 0.8) 9%);
}
.badge-circle-style[data-type=progress][data-value="92"]::before {
  background: linear-gradient(90deg, rgba(92, 92, 98, 0.8) 8%, rgba(37, 104, 183, 0.8) 8%);
}
.badge-circle-style[data-type=progress][data-value="93"]::before {
  background: linear-gradient(90deg, rgba(92, 92, 98, 0.8) 7%, rgba(37, 104, 183, 0.8) 7%);
}
.badge-circle-style[data-type=progress][data-value="94"]::before {
  background: linear-gradient(90deg, rgba(92, 92, 98, 0.8) 6%, rgba(37, 104, 183, 0.8) 6%);
}
.badge-circle-style[data-type=progress][data-value="95"]::before {
  background: linear-gradient(90deg, rgba(92, 92, 98, 0.8) 5%, rgba(37, 104, 183, 0.8) 5%);
}
.badge-circle-style[data-type=progress][data-value="96"]::before {
  background: linear-gradient(90deg, rgba(92, 92, 98, 0.8) 4%, rgba(37, 104, 183, 0.8) 4%);
}
.badge-circle-style[data-type=progress][data-value="97"]::before {
  background: linear-gradient(90deg, rgba(92, 92, 98, 0.8) 3%, rgba(37, 104, 183, 0.8) 3%);
}
.badge-circle-style[data-type=progress][data-value="98"]::before {
  background: linear-gradient(90deg, rgba(92, 92, 98, 0.8) 2%, rgba(37, 104, 183, 0.8) 2%);
}
.badge-circle-style[data-type=progress][data-value="99"]::before {
  background: linear-gradient(90deg, rgba(92, 92, 98, 0.8) 1%, rgba(37, 104, 183, 0.8) 1%);
}
.badge-circle-style[data-type=progress][data-value="100"]::before {
  background: linear-gradient(90deg, rgba(92, 92, 98, 0.8) 0%, rgba(37, 104, 183, 0.8) 0%);
}

.edit-circle-btn {
  width: 33px;
  height: 33px;
  border: 1px solid #F84281;
  outline: 2px solid #FFFFFF;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.3);
  background: #FFFFFF;
  border-radius: 50%;
  position: relative;
}

.modal-content {
  border-radius: 20px;
}

.modal-backdrop {
  background: linear-gradient(97.09deg, #132028 3.83%, #395765 98.1%);
  background: rgba(33, 33, 58, 0.9);
}
.modal-backdrop.show {
  opacity: initial;
}

.close {
  border: none !important;
  background-color: transparent !important;
  opacity: 1;
}

.form-label {
  font-weight: 800;
  font-size: 18px;
  color: #2C2A71;
  margin-bottom: 9px;
}

.form-control {
  font-weight: 300;
  font-size: 14px;
  background: #F7F8F9;
  box-shadow: 0px 4px 4px rgba(43, 42, 110, 0.5);
  border-radius: 16px;
  padding: 18px 19px;
  border: none;
}
.form-control::placeholder {
  color: #9E9E9E;
}

.return-link {
  position: absolute;
  top: 0;
  left: 1.563rem;
}

.return-circle {
  width: 39px;
  height: 39px;
  background-color: #F84281;
}

.close-btn {
  position: absolute;
  top: 0;
  right: 1.25rem;
}

/* Custom select */
.custom-select {
  position: relative;
}
.custom-select select {
  display: none;
}
.custom-select .select-selected {
  background: #F7F8F9;
  box-shadow: 0px 4px 4px rgba(43, 42, 110, 0.5);
  border-radius: 10px;
  text-align: start;
  border: none;
}
.custom-select .select-selected::after {
  font-family: "icomoon";
  content: "";
  color: #2C2A71;
  position: absolute;
  font-size: 10px;
  display: inline-block;
  right: 10px;
  top: 16px;
}
.custom-select .select-selected::before {
  font-family: "icomoon";
  content: "";
  color: #2C2A71;
  position: absolute;
  font-size: 14px;
  display: inline-block;
  left: 10px;
  top: 13px;
}
.custom-select .select-selected.select-arrow-active {
  border: 3px solid #2C2A71;
}
.custom-select .select-arrow-active:after {
  transform: rotate(180deg);
  top: 18px;
}
.custom-select .select-items {
  position: absolute;
  background: #F8F8F8;
  box-shadow: 0px 4px 4px rgba(43, 42, 110, 0.5);
  border-radius: 10px;
  text-align: start;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  padding: 12px 0;
  margin-top: 12px;
}
.custom-select .select-items .same-as-selected {
  background-color: #2C2A71;
  color: #FFFFFF;
  border-radius: 0;
}
.custom-select .select-items div,
.custom-select .select-selected {
  font-weight: 400;
  font-size: 14px;
  color: #9E9E9E;
  padding: 12px 50px;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
}
.custom-select .select-items div {
  font-weight: 500;
  font-size: 18px;
  color: #2C2A71;
}
.custom-select .select-hide {
  display: none;
}

.profile-select.custom-select .select-selected {
  background: #F7F8F9;
  box-shadow: 0px 4px 4px rgba(43, 42, 110, 0.5);
  border: none;
}

.list-group {
  background: linear-gradient(180deg, #FFFFFF 0%, #F2F2FF 100%);
  box-shadow: 0px 4px 4px rgba(49, 45, 100, 0.2);
  border-radius: 5px;
}
.list-group .list-group-item {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #A9A8C6;
}

.flag-style {
  width: 24px;
  height: 24px;
  border: 2px solid #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.input-group.search {
  border: 0;
  background: #F8F8F8;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(43, 42, 110, 0.5);
}
.input-group.search .input-group-text {
  background: #F8F8F8;
  border: 0;
  border-radius: 10px;
}
.input-group.search .input-group-text::before {
  font-family: "icomoon";
  display: inline-block;
  content: "";
  font-size: 14px;
  color: #2C2A71;
}
.input-group.search .form-control {
  padding: 12px;
  border-left: 0;
  border: none;
  box-shadow: none;
}
.input-group.search .form-control:focus {
  background-color: transparent;
}

.progress {
  border-radius: 0.125rem;
  height: 0.563rem;
  background-color: #C4C4C4;
}

/*# sourceMappingURL=style.css.map */
