h2 {
    font-weight: 800;
    font-size: 27px;
    color: #2C2A71;
}

h3 {
    font-weight: 800;
    font-size: 24px;
    color: #2C2A71;
}

h4 {
    font-weight: 800;
    font-size: 18px;
    color: #2C2A71;
}

.title {
    font-weight: 500;
    font-size: 14px;
    color: $deeppink;
}

.description {
    font-weight: 500;
    font-size: 14px;
    color: $midnightblue;
}

.text-secondary {
    color: $dimgrey!important;
}

.text-muted {
    color: $silver!important;
}

.text-pink {
    color: $deeppink;
}

.text-primary {
    color: $midnightblue!important;
}

.bg-light {
    background: #F7F8F9!important;
}

.bg-gradient {
    background: linear-gradient(3.59deg, #1E1B3B 32.08%, #2D2E83 143.69%)!important;
}

.bg-gradient-pink {
    background: linear-gradient(180deg, #F2F2FF 0%, #F2F2FF 100%)!important;
}

.bg-gradient-transparent {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.9) 0%, rgba(242, 242, 255, 0.9) 100%)!important;
}

.rounded {
    border-radius: 20px!important;
}

.shadow {
    box-shadow: 0px 4px 4px rgba(43, 42, 110, 0.5)!important;
}

.shadow-sm {
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25)!important;
}

.font-size-8px {
    font-size: 8px;
}

.font-size-10px {
    font-size: 10px!important;
}

.font-size-11px {
    font-size: 11px;
}

.font-size-12px {
    font-size: 12px!important;
}

.font-size-13px {
    font-size: 13px;
}

.font-size-14px {
    font-size: 14px;
}

.font-size-16px {
    font-size: 16px;
}

.font-size-24px {
    font-size: 24px;
}

.font-size-30px {
    font-size: 30px;
}

.font-size-36px {
    font-size: 36px!important;
}

.pt-22px {
    padding-top: 22px;
}

.pt-60px {
    padding-top: 60px;
}

.pt-140px {
    padding-top: 140px;
}

.pt-160px {
    padding-top: 160px;
}

.pb-35px {
    padding-bottom: 35px;
}

.pb-60px {
    padding-bottom: 60px;
}

.pb-140px {
    padding-bottom: 140px;
}

.pb-160px {
    padding-bottom: 160px;
}

.mt-100px {
    margin-top: -100px;
}

.mb-32px {
    margin-bottom: 32px;
}

.min-vh-60 {
    min-height: 60vh;
}