body {
    font-family: 'Avenir';
    background-color: $white;
    &.onboarding {
        background-image: url(../images/footer-bg.png);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: contain;
        min-height: 100vh;
        @media (min-width: 576px) {
            background-image: url(../images/footer-bg-desktop.png);
        }
    }
}

a {
    text-decoration: none;
}

p {
    margin-bottom: 0;
    color: $midnightblue;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h2 {
    font-weight: 800;
    font-size: 27px;
    color: #2C2A71;
}

h3 {
    font-weight: 800;
    font-size: 24px;
    color: #2C2A71;
}

h4 {
    font-weight: 800;
    font-size: 18px;
    color: #2C2A71;
}

.title {
    font-weight: 500;
    font-size: 14px;
    color: $deeppink;
}

.description {
    font-weight: 500;
    font-size: 14px;
    color: $midnightblue;
}

.text-secondary {
    color: $dimgrey!important;
}

.text-muted {
    color: $silver!important;
}

.text-pink {
    color: $deeppink;
}

.text-primary {
    color: $midnightblue!important;
}

.bg-light {
    background: #F7F8F9!important;
}

.bg-pink {
    background: $pink!important;
}

.bg-gradient {
    background: linear-gradient(3.59deg, #1E1B3B 32.08%, #2D2E83 143.69%)!important;
}

.bg-gradient-pink {
    background: linear-gradient(180deg, #F2F2FF 0%, #F2F2FF 100%)!important;
}

.bg-gradient-transparent {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.9) 0%, rgba(242, 242, 255, 0.9) 100%)!important;
}
