body {
    font-family: 'Avenir';
    background-color: $white;
}

main {
    min-height: 100vh;
}

a {
    text-decoration: none;
    cursor: pointer;
}

p {
    margin-bottom: 0;
    color: $midnightblue;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1 {
    font-weight: 800;
    font-size: 2.25rem;
    color: $white;
}

h2 {
    font-weight: 800;
    font-size: 1.625rem;
    color: $midnightblue;
}

h3 {
    font-weight: 800;
    font-size: 1.5rem;
    color: $midnightblue;
}

h4 {
    font-weight: 800;
    font-size: 1.125rem;
    color: $midnightblue;
}

.subscription-title {
    font-weight: 800;
    font-size: 1.125rem;
    color: $midnightblue;
}

.title {
    font-weight: 500;
    font-size: 0.875rem;
    color: $deeppink;
}

.subtitle {
    font-weight: 500;
    font-size: 0.75rem;
}

.description {
    font-weight: 500;
    font-size: 0.875rem;
    color: $midnightblue;
}

.text-secondary {
    color: $dimgrey!important;
}

.text-muted {
    color: $silver!important;
}

.text-pink {
    color: $deeppink;
}

.text-primary {
    color: $midnightblue!important;
}

.text-danger {
    color: $red!important;
}

.bg-light {
    background: #F7F8F9!important;
}

.bg-pink {
    background: $pink!important;
}

.bg-gradient {
    background: linear-gradient(3.59deg, #1E1B3B 32.08%, #2D2E83 143.69%)!important;
}

.bg-gradient-pink {
    background: linear-gradient(180deg, #F2F2FF 0%, #F2F2FF 100%)!important;
}

.bg-gradient-transparent {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.9) 0%, rgba(242, 242, 255, 0.9) 100%)!important;
}

@media (min-width: 576px) {
    .subtitle {
        font-weight: 500;
        font-size: 1.25rem;
    }
}

@media (min-width: 1200px) {
    h1 {
        font-size: 3.563rem;
    }
    h2 {
        font-size: 2.75rem;
    }
    h3 {
        font-size: 2.5rem;
    }
    h4 {
        font-size: 1.75rem;
    }
    .title {
        font-size: 1rem;
    }
    .description {
        font-size: 1rem;
    }
    .pt-22px {
        padding-top: 90px!important;
    }
    .row-cols-5>* {
        flex: 0 0 auto;
        width: 10%;
    }
}