.object-fit-cover {
    object-fit: cover;
}

.rounded-1 {
    border-radius: 5px!important;
}

.rounded-2 {
    border-radius: 6px!important;
}

.rounded-3 {
    border-radius: 16px!important;
}

.rounded {
    border-radius: 20px!important;
}

.shadow-lg {
    box-shadow: 0px 4px 4px rgba(43, 42, 110, 0.5)!important;
}

.shadow-sm {
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25)!important;
}

.shadow {
    box-shadow: 0px 4px 4px rgba(43, 42, 110, 0.25)!important;
}

.font-size-8px {
    font-size: 8px;
}

.font-size-10px {
    font-size: 10px!important;
}

.font-size-11px {
    font-size: 11px;
}

.font-size-12px {
    font-size: 12px;
}

.font-size-13px {
    font-size: 13px;
}

.font-size-14px {
    font-size: 14px;
}

.font-size-16px {
    font-size: 16px;
}

.font-size-24px {
    font-size: 24px;
}

.font-size-30px {
    font-size: 30px;
}

.font-size-36px {
    font-size: 36px;
}

.pt-22px {
    padding-top: 22px;
}

.pt-60px {
    padding-top: 60px;
}

.pt-140px {
    padding-top: 140px;
}

.pt-160px {
    padding-top: 160px;
}

.pb-35px {
    padding-bottom: 35px;
}

.pb-60px {
    padding-bottom: 60px;
}

.pb-140px {
    padding-bottom: 140px;
}

.pb-160px {
    padding-bottom: 160px;
}

.mt-100px {
    margin-top: -100px;
}

.mb-32px {
    margin-bottom: 32px;
}

.mb-47px {
    margin-bottom: 47px;
}

.mb-56px {
    margin-bottom: 56px;
}

.mb-100px {
    margin-bottom: 100px;
}

.min-vh-60 {
    min-height: 60vh;
}

@media (min-width: 992px) {
    .mb-lg-300px {
        margin-bottom: 300px;
    }
}

@media (min-width: 1200px) {
    .font-size-10px {
        font-size: 14px;
    }
    .font-size-11px {
        font-size: 17px;
    }
    .font-size-13px {
        font-size: 24px;
    }
    .font-size-xl-30px {
        font-size: 30px;
    }
    .mb-47px {
        margin-bottom: 100px;
    }
}