$white: #FFFFFF;
$darkgrey: #26224A;
$slategrey: #2E3A59;
$dimgrey: #3F3C34;
$black: #393939;
$midnightblue: #2C2A71;
$silver: #9E9E9E;
$fuchsia: #EC1D68;
$deeppink: #F74783;
$royalblue: #2568B7;
$pink: #F84281;
$hotpink: #FF4F86;
$red: #FF0000;
$tomato:#F64848;
$darkgoldenrod: #B77C25;
$deepskyblue: #48CCF6;
$lightgreen: #48F66E;
$greenyellow: #C9F648;
$mediumorchid: #C948F6;
$orange: #F66748;
$steelblue: #4864F6;
$mediumaquamarine: #7EBBA9;
$mediumpurple: #B469FF;
$gold: #F6DA48;
$mediumturquoise: #48D1C1;
$green: #25B73C;
$magenta: #F648D0;
$sandybrown: #F6B048;
$lawngreen: #91EC1D;
$moccasin: #FFF966;
$mediumspringgreen: #1DEC95;
$lightseagreen: #25B7A5;
$yellowgreen: #B6EC1D;
$slateblue: #5946A3;